AIRTABLE_BASE_ID=appQsnn57Oi8vNAWD
AIRTABLE_TOKEN=replace-with-airtable-pat
APPROVAL_PROCESSED_BY_LABEL=PI/Technical Contact via approval link
CORS_ALLOWED_ORIGINS=https://biohpc.dk,https://www.biohpc.dk
AIRTABLE_TIME_ZONE=Europe/Copenhagen
AIRTABLE_USER_LOCALE=en-gb
